.ImageContainer {
    position: relative;
    top: 50px;
    left:80px;
    height: 512px; /* original np array shape (1536, 2048) I made it 1/3 here */
    width: 683px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: blue;

  }

.ImageOutsideContainer{
  position: relative;
  height: 600px; /* original np array shape (1536, 2048) I made it 1/3 here */
  width: 850px;

}

img {
    position: relative;
    width: 100.0%;
    height: 100.0%;
}

#previousArrow {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;

}

#nextArrow {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;

}
